.jumbotron {
    margin-top: 20px;
}
.jumbotron h1 {
    font-size: 48px;
    margin-bottom: 30px;
}
h1 img {
    vertical-align: top;
    margin-right: -5px;
}
.btn + .btn, .btn-group + .btn {
    margin-right: 5px;
}
.btn-group.pull-right ul {
    margin-right: 5px;
}
#em-col-name, #em-col-email {
    margin-bottom: 10px;
}
#em-setup .modal-footer {
    margin-top: 0;
}
#em, #fb, #gp, #st, #tw {
    display: none;
}
#em-file {
    display: none;
}
#query {
    width: auto;
}
#results {
    margin-bottom: 30px;
}
footer {
    margin: 20px 0;
}
footer span + span:before {
    padding: 0 10px 0 5px;
    content: "\002022";
    color: #999;
}
