.jumbotron {
    margin-top: 20px;
}
.jumbotron h1 {
    font-size: 48px;
}
.jumbotron p {
    margin-top: 30px;
}
h1 img {
    vertical-align: top;
    margin-right: -5px;
}
.btn + .btn {
    margin-right: 5px;
}
footer {
    margin-top: 20px;
}
